#my-container{
  padding-top: 140px;
  padding-bottom: 100px;
  background-image: url('./assets/bg.svg');
  background-attachment: fixed;
  background-size: cover;
}

#search-bar{
  width: 90vw;
  direction: rtl;
  z-index: 1000;
}

#myModal{
  direction: rtl;
}

#myToast{
  z-index: 1000;
}

.myCard{
  direction: rtl;
}

.myCard:first-child::before{
  content: 'Top Result';
  display: block;
}

.results em{
  color: rgb(212, 158, 19);
  font-weight: 900;
}

em{
  font-style: normal;

}