#my-container{
  padding-top: 130px;
  padding-bottom: 150px;
  background-image: url('./assets/bg.svg');
  background-attachment: fixed;
  background-size: cover;
}

#search-bar{
  width: 90vw;
  direction: rtl;
  z-index: 1000;
}

#myModal{
  direction: rtl;
  font-family: 'Cairo', sans-serif;
}

.myCard{
  direction: rtl;

  font-family: 'Cairo', sans-serif;
}

